---
import Button, { type Props as ButtonProps } from "./Button.astro";
import ButtonGroup, {
  type Props as ButtonGroupProps,
} from "./ButtonGroup.astro";

type Theme = "light" | "dark";

type CtaButtonProps = Pick<ButtonProps, "href" | "variant"> & { text: string };

export interface Props {
  primaryCta: CtaButtonProps;
  secondaryCta?: CtaButtonProps;
  alignment?: ButtonGroupProps["alignment"];
  size?: ButtonProps["size"];
  theme?: Theme;
  class?: string;
}

const {
  primaryCta,
  secondaryCta,
  alignment = "start",
  size = "lg",
  theme = "light",
  class: className = "",
} = Astro.props;
---

<ButtonGroup alignment={alignment} class={className}>
  <Button href={primaryCta.href} variant={primaryCta.variant} size={size}>
    {primaryCta.text}
  </Button>
  {
    secondaryCta && (
      <Button
        href={secondaryCta.href}
        variant={secondaryCta.variant}
        size={size}
      >
        {secondaryCta.text}
      </Button>
    )
  }
</ButtonGroup>
